<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
      <div class="outer">
        {% include header.html %}

        <div class="page-content">
          <div class="wrapper">
            {{ content }}
          </div>
        </div>

        {% include footer.html %}
      </div>
  </body>
  <script>
      $(document).ready(function(){
            $("body").keypress(function(e){
                if (e.which == 13) 
                {
              $("body").css("filter","invert(100%)");

                };
            });
        });


</script>
</html>
